$dark: #283044;
$white: #fff;
$light-lime: #d9E4dc;
$light-grey: #cbcecc;
$light-grey2: #E9F0EB;
$sky-blue: #65B3E4;

$scarlet: #FF4757;
$sky-blue-lr-gt: linear-gradient(279.56deg, $sky-blue 15.15%, rgba(120, 161, 187, 0) 171.55%);
$scarlet-lr-gt: linear-gradient(279.56deg, $scarlet 15.15%, rgba(255, 255, 255, 0) 171.55%);
$offset-inp-left: 35px;
$br-v-select: 30px;

$max-height-delivery: 135px;
$max-height-delivery-min: 84px
