.content {
  display: flex;
  flex-grow: 1;

  &__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    @include media("max", "xl") {
      height: auto;
    }
  }
  &__right,
  &__left {
    width: 100%;
  }
  &__left {
    margin-right: 110px;
  }
}


