.popular-cities {

  @include media("max", "xl") {
    margin-bottom: 0;
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    color: $dark;
    font-weight: 400;
    @include media("max", "xl") {
      font-size: 16px;
      line-height: 18px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    width: 43%;
    @include media("max", "md") {
      width: 48%;
    }
  }
  &__item {
    font-size: 20px;
    line-height: 24px;
    padding-top: 25px;
    padding-left: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid $light-grey2;
    @include media("max", "sm") {
      font-size: 14px;
      line-height: 16px;
      padding-top: 15px;
      padding-bottom: 10px;
    }
  }
}
