html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	min-width: 320px;
}

* {
	box-sizing: border-box;
}
ul,
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	cursor: pointer;
	border: 0;
	padding: 0;
	outline: none;
	background: transparent;
}

a {
	text-decoration: none;
}

.container {
	max-width: 580px;
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	@include media("max", "xl") {
		max-width: 1160px;
	}
}
